
.header_div {
	background-color: #3F2860;
}

.navbar-nav li {
	margin-left: 30px;
	margin-top: 15px;
}

.navbar-nav li a {
	background-color: #FA8B60;
}

.nav-tabs li a {
	background-color: #FA8B60;
}
.nav-tabs li.active a {
	background-color: #90C5A9;
}

.tabs-row {
	margin-bottom: 0px;
}
.tab-content {
	position: relative;
	top: -15px;
	padding: 30px;
}

.tab-pane, .active {
	background-color: #90C5A9;
}

.username_display {
	color: #90C5A9;
}
.game_link {
	height: 20%;
	width: 40%;
	margin: 15px auto;
	background-color: #EF6D3B;
	padding: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.logo_container {
	width: 50%;
	color: #EF6D3B;
}
.logo_container a {
	color: #EF6D3B;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 60px;	
}
body {
	background-color: #7A9A95;
}