
.header_div {
	background-color: #3F2860;
}
.err_msg {
	color: #FF0000;
	font-weight: bold;	
}
.game_name {
	padding: 3px 20px;
	color: #EF6D3B;
	font-size: 28px;
	margin-right: 40%;
	background-color: #3F2860;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.navbar-nav {
	margin-top: 15px;
}
.navbar-nav li {
	margin-left: 30px;
	margin-top: 15px;
}

.navbar-nav li button {
	margin-top: 5px;
	background-color: #FA8B60;
	width: 200px;
	height: 30px; 
	color: #3F2860;
	font-weight: bold;
}
button.btn :hover {
	background-color: #EF6D3B;
}
.nav-tabs {
	height: 50px;
	position: relative;
	top: 5px;
	left: 5px;
}
.nav-tabs>li>a {
	height: 50px;
	background-color: #FA8B60;
	color: #3F2860;
}


.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
	background-color: #EF6D3B;
	z-index: 8;
}
.nav-tabs>li>a, 
.nav-tabs>li>a:hover, 
.nav-tabs>li>a:focus {
	opacity: 7;
}

.tabs-row {
	margin-bottom: 0px;
	height: 50px;
}
.tab-content {
	background-color: #90C5A9;
	padding: 30px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;

	/*border-color: #EF6D3B;
	border-style: solid;
    border-width: 2px;*/
    border-top: thick solid #3F2860;
   	border-left: thick double #3F2860;
   	border-right: thick double #3F2860;
   	border-bottom: thick double #3F2860;

}

.tab-pane, .active {
	background-color: #90C5A9;
}

.username_display {
	background-color: #7A9A95;
	padding: 5 15;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.username_display div {
	color: #EF6D3B;
	font-size: 23px;
}
.game_link {
	margin-left: 100px;
	display: inline-block;
	height: 340px;
	width: 220px;
	background-color: #EF6D3B;
	padding: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.game_link:hover {
	opacity: .7;
}
.game_link img {
	height: 240px;
	width: 180px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.game_link a {
	text-decoration: none;
}

.logo_container {
	width: 50%;
	color: #EF6D3B;
}
.logo_container a {
	color: #EF6D3B;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 60px;
	text-decoration: none;
}
body {
	background-color: #7A9A95;
}

.modal-content {
	background-color: #7A9A95;
}
.modal-header {
	background-color: #3F2860;
	color: #EF6D3B;
}
.modal-body {
	background-color: #90C5A9;
}





