.typing_game_container {
	position: relative;
	top: 15px;
	height: auto;
	width: 90%;
    margin: 0 auto;
	background-color: #7A9A95;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;

	
	border-color: #EF6D3B;
	border-style: double;
    border-width: 5px;
}

.stat_row div {
	text-align: center;
	font-size: 25px;
    height: 10%
}
.timer_container {
	color: #EF6D3B;

}
.heart_container {
    color: #EF6D3B;
    margin-right: 35px;
}
.target_text_container {
	background-color: #90C5A9;
	width: 80%;
	height: 125px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
	border-color: #EF6D3B;
	border-style: ridge;
    border-width: 5px;
    font-size: 16px;
}

.user_typing_input_container {
	margin-top: 20px;
	background-color: #90C5A9;
	width: 100%;
	height: 70px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
	border-color: #EF6D3B;
	border-style: ridge;
    border-width: 5px;
}

.user_typing_input_container input {
	width: 100%;
	height: 35px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 5px 10px;
	font-size: 20px;
}



/* Button styling -- kinda excessive */
.start_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 34px;
    border: 1px solid #438e12;
    border-radius: 37px;
    background: #6de71e;
    background: -webkit-gradient(linear, left top, left bottom, from(#6de71e), to(#438e12));
    background: -moz-linear-gradient(top, #6de71e, #438e12);
    background: linear-gradient(to bottom, #6de71e, #438e12);
    text-shadow: #2a590c 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.start_button:hover,
.start_button:focus {
    background: #83ff24;
    background: -webkit-gradient(linear, left top, left bottom, from(#83ff24), to(#50aa16));
    background: -moz-linear-gradient(top, #83ff24, #50aa16);
    background: linear-gradient(to bottom, #83ff24, #50aa16);
    color: #ffffff;
    text-decoration: none;
}
.start_button:active {
    background: #438e12;
    background: -webkit-gradient(linear, left top, left bottom, from(#438e12), to(#438e12));
    background: -moz-linear-gradient(top, #438e12, #438e12);
    background: linear-gradient(to bottom, #438e12, #438e12);
}
.start_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -10px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAEnklEQVRIie2Vy2tdVRTGf+dx36c39+adNjfPtqZNWqOxRbDWKkUzEhQdOFKLMwfqzEoHEVQQQdCJw4ITBx2IFLSoYEt9FLGh9GmbR5vkJmmS3jQ3uTn3PPbDQfNoXugf4ILFhrXP2t9Z37fW3vC//YsZW20c/Thja2k1VjnJ/bVVVa+ZRqxLa7MNwDDUsNL+1elC4ZtCyb1s2jL/0wdz4j8DvNqHKdKNb3Tlml9vrd15sLulK551KklEEgB4YZnZ0iyX7lwNbk8PXrg2duekNT/+9ak+1PqzrPWBpz9JxQOdffvFA90fvfDokY7O3C7bssZxw4sUvfMs+P0IPUkqFmF3fafVVtfQHLWDQ/1j88HOI4v9Q2eRW1bwXF/WqdwWO/7M/vZ3j+57IumJcea9fgI5hUatK9ckatWSjvcQt3fw8+W/3F+uDH4+u+B9eravWFr+yn44JRnj8J5c7Fh3S02ysHiRxeAmQpUAvQmRkkDcxQvPkYp20N1ak5yeG3urf8D/DTiz+hsPWcKW77Q3JOqFnqLgXsUNFgiEZnLcIBBs4ho3WKDgXkHoKdoakvWJqHpvUw2eOp7pfiRnfLa3NUbJn8AXiwilEQq+er+d0SGFFRfEtym0CUKxsh9KgS9KOIkIhaLXHu2Mfzd63ru7hiJLyN6GaotyWCYQiyitlzjXbK9vp3C7jh+GpmneN0HHgTI72iSWzQp9obFI1I7SUA3WddkLXFqvQY/jCNzAI5RrGgGlFKlUirhsIn8lw/DlSeraZzj8sk8qs6yPRCgPxxEojJ4NIhtKVWtD4gYgpV7TX74fIJfGKBZNEqOdmZv1nDwxzuO9c3QddokmFKEM0IbAUFb1BgCtdOB6GttSyHVNE4QBMlwbS2cT9BzupqJpEqGuoUMf09BIpdFKBxsBhMrPlwwcx0SsQwiDACkelBSNmeztqabjYAKdvoFv5PFFgAg1tmVQKhloofKbUCRPT07ax5pbI4QyROnVq0UhSVfGadmbZP+zMfzIINOlAWR5tSzTsNE6wsSkRCG+3QAQGsbZezNyurbeqrWjKXxRXEk++Hwt1W0eVmacEXeIUJbBWBJJazAMEpEUbtmgMCOnlTJ+Xc5dmYP8n9LL9VAVS0QOZSuq8YRHKAVSapyGMgsMcL88QShCpGLVtYFpJEhGapmaLHHvrvfFuS/F9xsAAHL7rAHf13uSjtOSTTeYQig8GVDy5x7wvDRYD9xAa5u4XUUm2cz9gi9GBotn3Hn14chFVdwUoLVNLfjKHC67ojOTqcxl09uJ2g5SgdLGgw7RFpaZIB7JUplqpiLRyEIx5Na1id+LheBEOBfeyF9fvbw2vAeHXsFUjrW7pr7iZHNb7slcrolIJEIofULpARCx4kSsGGEYMjY2ysjw2IWZ6eKbekHe+uPU2jdhPYANxIH0thqamh7jparGRG/rrsbGTLYimUw5UTS4bimYu190bw/k84Wx8o8j/ZwuFRgF5gAXCLYCMIEkkAYqgaRTSWVDh9ER36br7BhpAOEx77nGzPgN/bdbWDl0Figt+ZYAyyDmUjXmQ7HNTD20iqV1DUX/AC71V1VoEe2NAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

.stop_button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 34px;
    border: 1px solid #a60e10;
    border-radius: 37px;
    background: #ff1b1e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff1b1e), to(#a60e10));
    background: -moz-linear-gradient(top, #ff1b1e, #a60e10);
    background: linear-gradient(to bottom, #ff1b1e, #a60e10);
    text-shadow: #62090a 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.stop_button:hover,
.stop_button:focus {
    border: 1px solid ##c31113;
    background: #ff2024;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2024), to(#c71113));
    background: -moz-linear-gradient(top, #ff2024, #c71113);
    background: linear-gradient(to bottom, #ff2024, #c71113);
    color: #ffffff;
    text-decoration: none;
}
.stop_button:active {
    background: #a60e10;
    background: -webkit-gradient(linear, left top, left bottom, from(#a60e10), to(#a60e10));
    background: -moz-linear-gradient(top, #a60e10, #a60e10);
    background: linear-gradient(to bottom, #a60e10, #a60e10);
}
.stop_button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -10px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA80lEQVRIie3VPU7DQBAG0LeOFfHT0OdwIIpcIwcIXICKgoKKivMEJKrYco+R7aWIsBIJQ7EbiYLpVit9TzOa1XLkCrDkYuAKJ5lyPwoe7qhKGLhecLsoyyzpVdd5ocDNV+J8UZYuVysSkRCCp/XapmlKGNNijNqmYTZLAoQg9v14HIEQo7auKYo0gO+BiPftlhCSwsNUB2LUVlUyALpuGoipHZgYEbR1LSbF72qYAmLfZwH2K31l/oE/DxxsUYYn9jOQ6zPYH8sBcJohPDicRLl/cXZMAM6PCAwVnjMA8LZDhhEouH+l2zDPAQS6GY85sn6tT+n5TTtSpqtiAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

.reset_button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 42px 10px 42px;
  text-decoration: none;
}

.reset_button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

