
.hangman_game_container {
	position: relative;
	top: 15px;
	height: 300px;
	width: 70%;
    margin: 0 auto;
	background-color: #7A9A95;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;

	
	border-color: #EF6D3B;
	border-style: double;
    border-width: 5px;
}

h2 {
	color: FA8B60;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}

.fail {
	font-weight: bold;
	margin: auto;
	text-align: center;
	color: #FFF;
	background-color: #FA8B60;
	border: 1px solid #FA8B60;
	padding: 5px;
}

.success {
	font-weight: bold;
	margin: auto;
	text-align: center;
	background-color: #90c5a9;
	border: 1px solid #90c5a9;
	padding: 5px;
}

#picture {
	margin: auto;
	text-align: center;
}

#selectLetter, #guessWord, #changeDifficulty {
	padding: 10px;
	text-align: center;
	color: #EF6D3B;

}

#guessedLetters {
	margin: auto;
	text-align: left;
	padding: 10px;
	background-color: #7A9A95;
}

#start_game {
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 10px;
	background-color: #7A9A95;
}

#content {
	margin: auto;
	padding: 10px;
	width: 60%;
}

#selectLetter input[type="text"], #changeDifficulty select {
	border: 1px solid #000;
	background-color: #DDD;
	color: #EF6D3B;

}

#start_game input[type="submit"], #selectLetter input[type="submit"], #changeDifficulty input[type="submit"] {
	border: 1px solid #000;
	background-color: #7A9A95;
	color: #FFF;
}
